
@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@200;300;400;500;700;800;900&display=swap');

body{
    direction: rtl;
    font-family: Amiri;

}
form{
    max-width: 100%;
    max-height: max-content;
}
.Noaccount{
    display: flex;
    flex-direction: column;
    padding-top: 14px;
    
  }

  .loginNowbtn{
    color: #c48e5c;
    text-decoration: underline; 
    text-align: center; 
   

 }
 h4{
    font-size: 22px;
 }

 

.imglogoo{
    width: 300px;
    height: 140px;
}
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Dosis&display=swap');
a{
    color: #fff;
}
a:hover{
    color: #fff;
    text-decoration: none;
}
#hero{
    position: relative;
    height:fit-content;
   
}
#hero video{
    height: 100vh;
    width: 100%;
    background-position: absolute;
    z-index: 10;
    object-fit: cover;
}
#hero .content{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.logo{
    font-family: "Open Sans", sans-serif;
    font-style: italic;
}
.form-check{
    float: right;
   font-size: 14px;
   margin-top: -14px;

}
.form-check-label{
    margin-right: 20px;
    
}
.link{
    float: left;
    font-size: 14px;
    margin-top: -14px;

}

.btn{
    color: #fff;
    background: #25d006;
    border: none;
    padding: 12px 98px;
    margin-top: 30px;
    outline: none;
    text-transform: uppercase;
    font-size: .9em;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all .7s;
    
}
.heading{
    margin-bottom: 30px;
}
.btnlogin{
    width: 70%;
    color: #fff;
    background: #c48e5c;
    border: none;
    height: 45px;
    border-radius: 25px;
    outline: none;
    text-transform: uppercase;
    font-size: .9em;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all .7s;
}
.cardForget{
    margin-top: 120px;
}
.cardCraete{
    margin-top: 120px;
}
.btn:hover{
    background-color: #000;
    color: #fff;
}
.whole-card{
    color: #fff;
    background: transparent;
    box-shadow: 0px 0px 65px -10px rgb(255 255 255);
    border-radius: 15px;
}
.form-group{
    position: relative;
}
.form-control{
    padding-right: 40px;
    border-radius: 20px;
    height: 44px;
    font-size: 15px;
    font-family:  Arial, Helvetica, sans-serif;
}
.form-check-input{
    background-color: aqua;
}
.form-check-input:hover{
  background: #B78D65; }
.icon{
    color: #C48E5C;
    position: absolute;
    right: 0;
    margin-right: 15px;
}
.iconm{
    color: white;
    font-size: 40px;   
}
.divspan{
    margin:auto;
    width: 50%;
    margin-bottom: 5px;
}

.btnPage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
}


@media (min-width: 1200px) and (max-width:1400px) {
    .btnlogin {
        font-weight: 600;
    }
}

@media (min-width: 992px) and (max-width:1200px) {
    .btnlogin {
        font-weight: 600;
    }
}

@media (min-width: 768px) and (max-width:992px) {
    .btnlogin {
        font-weight: 600;
    }
}

@media (min-width: 480px) and (max-width:768px) {
    .btnlogin {
        font-weight: 600;
    }
}

@media (min-width: 320px) and (max-width:480px) {
    .heading h4 {
        font-size: 16px;
        width: 125px;
    }

    .imglogoo {
        width: 180px;
        height: 90px;
    }
    .imgDone{
        width: 4110px;
        height: 110px; 
    }
   
    .textDone{
        font-size: 18px;
        margin-left: 120px;
    }
    .divDone{
        text-align: center;
        width: 580px !important;
        height: 190px;
    }

    .btnlogin {
        font-weight: 600;
    }
}
#header{
    width: 900px;
    height: 130px;
    background-color: #B78D65;
    justify-content: center;
    display: flex;
}
#all{
 
}
.headerimg{
    width: 1400px;
    height: 100%;
}
.lislider{
    width: 12px !important;
    height: 12px !important;
    border-radius: 50%;
}


  .header-area .main-header-area {
    background: #ffffff;
    border-radius: 10px;
    padding: 25px 35px;
    position: absolute;
    bottom: -50px;
    z-index: 999;
    z-index: 999;
    left: 100px;
    top: 70px;
    bottom: auto;
    right: 100px;
    height: 100px;
    display: inline-block;
  }
 
  .rowlogo{
   
    margin-top: -110px;


  }
  .logoHome{
    align-items: center ;
    display: flex;
   

  }
  .imghome{
    align-items: center ;
    display: flex;
    justify-content: center;
    margin-left: 450px;
  }
 

  nav{
    display: flex;
    flex-direction: row;
    align-items: start !important;
    color: #25d006 !important;
    padding-bottom: 440px;
   
   

  }
  .navbar-nav{
    flex-direction: row !important;
    display: flex !important;
    align-items: start !important;
    color: #25d006 !important;
  }
  #navbarNavDropdown{
    align-items: start !important;
    flex-direction: row !important;
    display: flex !important;
    align-items: start !important;
    color: #25d006 !important;

  }
  .dropdown-menu{
    text-align: right;

  }
  .dropdown-item{
    text-align: right;
  }
  .form-input{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    font: inherit;
    font-family: inherit;
    line-height: inherit;
    border-left-width: .010416667in;
    border-bottom-width: .0625pc;
    border-right-width: .0625pc;
    border-top-width: .0625pc;
    border-left-style: solid;
    border-bottom-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    border-color:#e1e1e1 ;
    padding-left: .9375pc;
    padding-bottom: .104166667in;
    padding-right: .9375pc;
    padding-top: .104166667in;
    border-radius: 31.5pt;
    box-shadow: none;
    outline: none;
    color: #919191;
    overflow: hidden;
    text-transform: uppercase;
    transition: all .4s ease-in-out;
    font-size: 9pt;
    width: 170px;
    height: 2.625pc;
    margin-left: -160px;
  }
  .bttnSearch{
    position: relative;
    background-color: white;
    width: 18px;
    height: 18px;
    border: none;
    
  }
  .form-search{
   display: flex;
   flex-direction: row;
   justify-items: end;
   padding-left: 230px;
  }
 
 
  
  